<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles/main.css">
	<title>Question And Answers</title>
	
</head>

<header>
	<h1>Welcome to Q&A</h1>
</header>
<body>


	<div class="menu">
		<a href="/questions/new">
			<button>New Question</button>
		</a>


		<a href="/questions">
			<button>Answer A Question</button>
		</a>
	</div>




</body>
</html>