<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/styles/main.css">
	<title>Question And Answers</title>
	
</head>
<body>
	<header>
		<h1>Welcome to Q&A</h1>
	</header>

	<div class="menu">
		<a href="/questions/new">
			<button>New Question</button>
		</a>


		<a href="/questions">
			<button>Answer A Question</button>
		</a>
	</div>




</body>
</html>