<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Question And Answers</title>
</head>
<body>
	
	<h1>Welcome to Q&A</h1>

	<a href="/questions/new">
		<button>New Question</button>
	</a>


	<a href="/questions">
		<button>Answer A Question</button>
	</a>




</body>
</html>