<header>
	<h1>Welcome to Q&A</h1>
</header>
<%- include('./partials/_head') %>


<body>


<!-- 	** Bootstrap trail: image on home page ** -->


<!-- 	** Bootstrap tial: home page ** -->

<!-- 	<a href="/user/login">
		<button>Log In</button>
	</a>

	<a href="/user/register">
		<button>Register</button>
	</a>

	<a href="/user/logout">
		<button>Logout</button>
	</a>

	<a href="/user/profile">
		<button>Profile</button>
	</a> -->




<!-- 	<div class="menu">
		<a href="/questions/new">
			<button>New Question</button>
		</a>


		<a href="/questions">
			<button>Answer A Question</button>
		</a>
	</div> -->




<!-- </body>
</html> -->