<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eidt user account</title>
	<link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
	<head>
		<h1>Edit user account</h1>
	</head>
	
</body>
</html>