<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Document</title>
</head>
<body>
	<header>
		<h1>Login</h1>
	</header>
	

	
<!-- playing with boot strap -->

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="email" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">

	<input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
	<button type="submit">login</button>
    </div>
  </form>
</nav>

<!-- playing with boot strap -->




<!--     <form action="/user/login" method="POST">

		<label for="email">email</label>
		<input type="email" name="email" id="email"/>

		<label for="password">password</label>
		<input type="password" name="password" id="password"/>

		<button type="submit">login</button>
	
	</form> -->


</body>
</html>