<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Show page</title>
	<link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
	<head>
		<h1>User Profile Page</h1>
	</head>

	<h3>
		<%= user.name %> 
	</h3>

	<a href="/logout">
		<button>Logout</button>
	</a>
	
</body>
</html>