<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Show page</title>
	<link rel="stylesheet" href="../../styles/main.css">
</head>
<body>
	<header>
		<h1>User Profile Page</h1>
	</header>

	<h3>
		<%= user.username %> 
	</h3>

	<h3>
		<%= user.email %> 
	</h3>

	<h3>
		<%= user.answer %> 
	</h3>

	<a href="/user/logout">
		<button>Logout</button>
	</a>
	
</body>
</html>