
body {
	background-color: #E8E8E8;
	text-align: center;
	font-family: 'Baloo Da 2', cursive;
}

header {
	display: block;
	text-align: center;
	color: white;
	background-color: #a4c400;
	padding: 5px 30px;
}
.menu {
	margin: 50px;
}

button {
	display: block;
	padding: 3px 10px;
	margin: 5px auto;
	border-style: none;
	border-radius: 8px;
	background-color: #a4c400;
	text-decoration: none;
	color: white;
	font-family: 'Baloo Da 2', cursive;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.editAndDeleteBtn {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.usernameAndAnswer {
	margin: 20px  auto;
}

.question {
	background-color: white;
	border-radius: 8px;
	padding: 8px 0px;
	margin: 10px 17%;
	overflow-wrap: break-word;
}

#edit {
	margin: 10px;
}

#delete {
	margin: 10px;
}

.answers {
	text-align: left;
	font-size: 20px;
	background-color: #a4c400; 
	border-radius: 8px;
	margin: 10px 37%;
	padding: 10px;
	width: 25%;
	color: white;
	overflow-wrap: break-word;
}

#username {
	font-weight: bold;
}


