    <header>
        <h1>edit page</h1> 
    </header>
    
<%- include('../partials/_head') %>

<body>

   

    <form action="/questions/<%=questions._id%>?_method=PUT" method="POST">
        <label for="username">username</label>
        <input type="text" id="username" name="username" value="<%=questions.username%>" />

        <label for="question">Question</label>
        <input type="text" id="question" name="question" value="<%=questions.question%>"/>

        <button type="submit">Submit Changes</button>
    </form>
</body>


</html>