<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>edit page</h1> 
    </header>
   

    <form action="/questions/<%=questions._id%>?_method=PUT" method="POST">
        <label for="username">username</label>
        <input type="text" id="username" name="username" value="<%=questions.username%>" />

        <label for="question">Question</label>
        <input type="text" id="question" name="question" value="<%=questions.question%>"/>

        <button type="submit">Submit Changes</button>
    </form>
</body>
</html>