	<header>
		<h1>What is your question</h1>
	</header>
<%- include('../partials/_head') %>
<body>

	
	<div class="usernameAndAnswer">
		<form action="/questions" method="POST">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" />

			<label for="question">question</label>
			<input type="text" id="question" name="question" />

			<button type="submit">Add question</button>
		</form>
	</div>

</body>
</html>