<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../../styles/main.css">
	<title>Question And Answers</title>
</head>
<body>
	<header>
		<h1>What is your question</h1>
	</header>
	
	<div class="usernameAndAnswer">
		<form action="/questions" method="POST">

			<label for="question">question</label>
			<input type="text" id="question" name="question" />

			<button type="submit">Add question</button>
		</form>
	</div>

</body>
</html>