<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Question And Answers</title>
</head>
<body>
	
	<h1>What is your question</h1>

	<form action="/questions" method="POST">
		<label for="username">Username</label>
		<input type="text" id="username" name="username" />

		<label for="question">question</label>
		<input type="text" id="question" name="question" />

		<button type="submit">Add question</button>
	</form>


</body>
</html>